# ----------------------
# Flask
# ----------------------
flask
flask-restful
Pillow

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
eventlet
gunicorn

# ----------------------
# Other
# ----------------------
addict
google-cloud-firestore